.app-container {
    background-image: url('./assets/sunsetFlight.png');
    background-size: cover;
    backdrop-filter: blur(100px);
    color: orange;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.results-container {
    max-height: 85vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    overflow-y: scroll;
}
